
<div class="container">

<div class="row">
    <div class="col-md-3">
        
    </div>
    <div class="col-md-9 col align-self-end">
        <div class="hero__item set-bg" data-setbg="img/hero/banner.jpg" style="background-image: url(&quot;img/hero/banner.jpg&quot;);">
            <div class="hero__text">
                <span>SOINS HOSPITALIERS</span>
                <h2>Reste a la Maison. <br>Restez en Bonne santé.</h2>
                <p>Nous livrons vos medicaments <br>en toute sécurité a votre domicile </p>
                <a routerLink="/shop" class="primary-btn">SHOP NOW</a>
            </div>
        </div>
    </div>

</div>

</div>